@import "tailwindcss";

@layer base {

  html,
  body {
    @apply h-full w-full antialiased text-gray-900 bg-white;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }

  #root {
    @apply min-h-full w-full flex flex-col;
  }
}